AuthName "xampp user"                 
AuthType Basic    
AuthUserFile /opt/lampp/lib/xampp.users
#require valid-user 

<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ /index.php [L]
</IfModule>